repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-json
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/henryykt/pre-commit-perl
    rev: v0.0.5
    hooks:
    -   id: perltidy
